name: Build and Upload iOS App

on:
  push:
    branches:
      - 0.0.3

env:
  APP_NAME: "MyApp"
  REPO_NAME: "test-repo"
  REPO_OWNER: "ajaykumar1007"
  REPO_BRANCH: "0.0.3"
  REPO_DIR: "ios-build"
  APP_VERSION: "1.0.0"

jobs:
  build_and_upload:
    runs-on: ubunut:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Build iOS app
        run: |
        
          mkdir -p ${{ env.REPO_DIR }}
          mv ./build/*.ipa ${{ env.REPO_DIR }}/${{ env.APP_NAME }}-${{ env.APP_VERSION }}.ipa

      - name: Clone archive repository
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REPO_OWNER }}/${{ env.REPO_NAME }}
          ref: ${{ env.REPO_BRANCH }}
          path: archive-repo

      - name: Copy iOS build to archive repository
        run: |
          cp -r ${{ env.REPO_DIR }} archive-repo/
          cd archive-repo
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Add iOS build v${{ env.APP_VERSION }}"
          git push

      - name: Clean up build artifacts
        run: rm -rf ./build
